{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}ministrypage{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% image page.hero_image original as hero_image %}
        <div class="hero row position-relative text-light">
            <div class="col-12 p-3 p-lg-5 d-flex align-items-end justify-content-center" style="
                    background-image: url({{ hero_image.url }}); background-size: cover; background-position:
                    {% if page.hero_image.has_focal_point %}
                        {% widthratio page.hero_image.focal_point_x page.hero_image.width 100 %}%
                        {% widthratio page.hero_image.focal_point_y page.hero_image.height 100 %}%">
                    {% else %}
                        center center">
                    {% endif %}
                <div class="text-center my-auto">
                    <h1 class="display-3">{{ page.title}}</h1>
                    <p>{{ page.intro|richtext }}</p>
                </div>
            </div>
        </div>
    </div>

    {% if page.body %}
        {% for block in page.body %}
            <div class="container-md py-3">
                {{ block }}
            </div>
        {% endfor %}
    {% endif %}

    {% if events %}
        <div class="container-fluid bg-muted text-primary py-3 py-md-5">
            <h1 class="display-4 text-center">Upcoming Events</h1>
            <div class="row row-cols-1 row-cols-md-3">
                {% for event in events %}
                    <div class="col">
                        <div class="card h-100 border-primary">
                            <div class="card-body">
                                <h5 class="card-title text-primary"><a href="{{ event.url }}" class="stretched-link">{{ event.title }}</a></h5>
                                <p class="card-text text-primary"><i class="bi bi-calendar-event"></i> {{ event.date_from }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-lg btn-primary mt-3" href="{{ eventindex.url }}" role="button">{{ eventindex.title }}</a>
            </div>
        </div>
    {% endif %}

    {% if videoteachings %}
        <div class="container-fluid bg-dark py-3 py-md-5">
            <h1 class="display-4 text-center text-light">Recent Videos</h1>
            <div class="row row-cols-1 row-cols-md-3">
                {% for videoteaching in videoteachings %}
                    <div class="col">
                        {% include "includes/video_card.html" with videoteaching=videoteaching %}
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-lg btn-secondary mt-3" href="{{ videoindex.url }}" role="button">{{ videoindex.title }}</a>
            </div>
        </div>
    {% endif %}

    {% if blogposts %}
        <div class="container-fluid bg-light py-3 py-md-5">
            <h1 class="display-4 pb-2 text-center">Recent Blog Posts</h1>
            <div class="row row-cols-1 row-cols-md-3">
                {% for post in blogposts %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ post.url }}" class="stretched-link text-dark">{{ post.title }}</a></h5>
                                <p class="card-text"><i class="bi bi-calendar"></i> {{ post.date }}<br><i class="bi bi-person"></i> {{ post.author }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-lg btn-dark mt-3" href="{{ blogindex.url }}" role="button">{{ blogindex.title }}</a>
            </div>
        </div>
    {% endif %}

{% endblock content %}