{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}ministryindexpage{% endblock %}

{% block content %}

<div class="container-fluid">
    {% image page.hero_image original as hero_image %}
    <div class="hero row position-relative text-light">
        <div class="col-12 p-3 p-lg-5 d-flex align-items-end justify-content-center" style="
                background-image: url({{ hero_image.url }}); background-size: cover; background-position:
                {% if page.hero_image.has_focal_point %}
                    {% widthratio page.hero_image.focal_point_x page.hero_image.width 100 %}%
                    {% widthratio page.hero_image.focal_point_y page.hero_image.height 100 %}%">
                {% else %}
                    center center">
                {% endif %}
        <div class="text-center my-auto">
            <h1 class="display-3">{{ page.title}}</h1>
            <p>{{ page.intro|richtext }}</p>
        </div>
        </div>
    </div>
</div>

{% if page.body %}
    {% for block in page.body %}
        <div class="container-fluid py-3 {% cycle 'bg-light text-secondary' 'bg-dark text-light' %}">
            {{ block }}
        </div>
    {% endfor %}
{% endif %}

{% endblock content %}