<div class="form-check">
    <input class="form-check-input" id="id_{{ widget.name }}_{{ widget.index }}" name="{{ widget.name }}" type="{{ widget.type }}" value="{{ widget.label }}"{% if widget.selected %} checked {% endif %}>
    <label class="form-check-label" for="id_{{ widget.name }}_{{ widget.index }}">{{ widget.label }}</label>
</div>
