{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
    <div class="container my-2">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <h1>{{ page.title }}</h1>
                {{ page.thank_you_text|richtext }}
                <a class="btn btn-primary" href="{{ '/' }}" role="button">Homepage</a>
            </div>
        </div>
    </div>

{% endblock %}