{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}homepage{% endblock %}

{% block extra_css %}
    <style>
        .primary-cta {
            height: 62vw;
            max-height: 90vh;
            min-height: 60vh;
        }
        .secondary-cta,.tertiary-cta {
            height: 31vw;
            min-height: 21em;
        }
        .primary-cta h1, .secondary-cta h1, .tertiary-cta h1 {
            text-shadow: 0px 0px 3px black;
        }
        .primary-cta p, .secondary-cta p, .tertiary-cta p {
            text-shadow: 0px 0px 3px black;
            font-size: 1.33rem;
            font-weight: 400;
        }
    </style>
{% endblock extra_css %}

{% block content %}

    <div class="container-fluid">
        {% image page.primary_cta_image original as primary_cta_image %}
        {% image page.secondary_cta_image original as secondary_cta_image %}
        {% image page.tertiary_cta_image original as tertiary_cta_image %}
        <div class="row position-relative text-light">
            <div class="primary-cta col-12 p-3 p-lg-4 d-flex align-items-center justify-content-center" style="
                    background-image: url({{ primary_cta_image.url }}); background-size: cover; background-position:
                    {% if page.primary_cta_image.has_focal_point %}
                        {% widthratio page.primary_cta_image.focal_point_x page.primary_cta_image.width 100 %}%
                        {% widthratio page.primary_cta_image.focal_point_y page.primary_cta_image.height 100 %}%">
                    {% else %}
                        center center">
                    {% endif %}
                <div class="cta-text text-center">
                    <h1 class="display-2">{{ page.primary_cta_heading}}</h1>
                    {{ page.primary_cta_intro|richtext }}
                    {% if page.primary_cta_link %}
                        <a class="btn btn-outline-light" href="{{ page.primary_cta_link.url }}" role="button">{{ page.primary_cta_text|default:"More" }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="secondary-cta col-md-6 p-3 p-lg-4 d-flex position-relative align-items-end justify-content-center" style="
                    background-image: url({{ secondary_cta_image.url }}); background-size: cover; background-position:
                    {% if page.secondary_cta_image.has_focal_point %}
                        {% widthratio page.secondary_cta_image.focal_point_x page.secondary_cta_image.width 100 %}%
                        {% widthratio page.secondary_cta_image.focal_point_y page.secondary_cta_image.height 100 %}%">
                    {% else %}
                        center center">
                    {% endif %}
                <div class="cta-text text-left">
                    <h1 class="display-3">{{ page.secondary_cta_heading}}</h1>
                    <p class="lead">{{ page.secondary_cta_intro|richtext }}</p>
                    {% if page.secondary_cta_link %}
                        <a class="btn btn-outline-light stretched-link" href="{{ page.secondary_cta_link.url }}" role="button">{{ page.secondary_cta_text|default:"More" }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="tertiary-cta col-md-6 p-3 p-lg-4 d-flex position-relative align-items-end justify-content-center" style="
                    background-image: url({{ tertiary_cta_image.url }}); background-size: cover; background-position:
                    {% if page.tertiary_cta_image.has_focal_point %}
                        {% widthratio page.tertiary_cta_image.focal_point_x page.tertiary_cta_image.width 100 %}%
                        {% widthratio page.tertiary_cta_image.focal_point_y page.tertiary_cta_image.height 100 %}%">
                    {% else %}
                        center center">
                    {% endif %}
                <div class="cta-text text-right">
                    <h1 class="display-3">{{ page.tertiary_cta_heading}}</h1>
                    <p class="lead">{{ page.tertiary_cta_intro|richtext }}</p>
                    {% if page.tertiary_cta_link %}
                        <a class="btn btn-outline-light stretched-link" href="{{ page.tertiary_cta_link.url }}" role="button">{{ page.tertiary_cta_text|default:"More" }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if page.body %}
        <div class="container py-3">
            {% for block in page.body %}
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        {{ block }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container-fluid bg-dark py-3 py-md-5">
        <h1 class="display-4 text-center text-light">Recent Videos</h1>
        <div class="row row-cols-1 row-cols-md-3">
            {% for videoteaching in videoteachings %}
                <div class="col">
                    {% include "includes/video_card.html" with videoteaching=videoteaching %}
                </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-secondary mt-3" href="{{ page.primary_video_teaching_index.url }}" role="button">{{ page.primary_video_teaching_index.title }}</a>
        </div>
    </div>

    {% if events %}
        <div class="container-fluid bg-muted text-primary py-3 py-md-5">
            <h1 class="display-4 text-center">Upcoming Events</h1>
            <div class="row row-cols-1 row-cols-md-3">
                {% for event in events %}
                    <div class="col">
                        <div class="card h-100 border-primary">
                            <div class="card-body">
                                <h5 class="card-title text-primary"><a href="{{ event.url }}" class="stretched-link">{{ event.title }}</a></h5>
                                <p class="card-text text-primary"><i class="bi bi-calendar-event"></i> {{ event.date_from }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% for index in eventindices %}
                <div class="text-center">
                    <a class="btn btn-lg btn-primary mt-3" href="{{ index.url }}" role="button">{{ index.title }}</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container-fluid bg-light py-3 py-md-5">
        <h1 class="display-4 pb-2 text-center">Recent Blog Posts</h1>
        <div class="row row-cols-1 row-cols-md-3">
            {% for post in blogposts %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ post.url }}" class="stretched-link text-dark">{{ post.title }}</a></h5>
                            <p class="card-text"><i class="bi bi-calendar"></i> {{ post.date }}<br><i class="bi bi-person"></i> {{ post.author }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-dark mt-3" href="{{ page.primary_blog_index.url }}" role="button">{{ page.primary_blog_index.title }}</a>
        </div>
    </div>
{% endblock content %}
