{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
    <div class="container my-2">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <h1>{{ page.title }}</h1>
                <p>
                    {{ form_submission.name }}, thank you for signing up.
                    {% if form_submission.attendee_count %}
                        We have reserved {{ form_submission.attendee_count }} spot{{ form_submission.attendee_count|pluralize }} for you.
                    {% endif %}
                </p>
                <p>You will get a confirmation email shortly with a link to cancel your reservation if you no longer need it.</p>
                {{ page.thank_you_text|richtext }}
                <a class="btn btn-primary" href="{{ '/' }}" role="button">Homepage</a>
            </div>
        </div>
    </div>

{% endblock %}