{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}eventindexpage{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {% for event in events %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            {{ event.date_from }}, {{ event.time_from }}
                        </div>
                        {% image event.feed_image fill-500x300-c50 class="card-img rounded-0" style="object-fit: cover; height: 200px;" %}
                        <div class="card-body">
                            {% if event.is_canceled %}
                                <h3><div class="badge bg-danger text-light">Event Cancelled</div></h3>
                            {% endif %}
                            <h3 class="card-title">{{ event.title }}</h3>
{#                            <p class="mb-1 text-primary">Category</p>#}
                            <p class="card-text mb-auto">{{ event.intro|richtext }}</p>
                        </div>
                        <div class="card-footer">
                            {% if event.is_canceled %}
                                <button type="button" class="btn btn-primary btn-sm" disabled>Info</button>
                            {% else %}
                                <a href="{% pageurl event %}" class="btn btn-primary btn-sm stretched-link">Info</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}