{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container my-2">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-9">
                <h1>{{ page.title }}</h1>
                {{ page.intro|richtext }}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'forms/formfield_loop.html' with form=form %}
                    {% include 'forms/formfield_loop.html' with form=wagtail_form %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}