{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}eventpage{% endblock %}

{% block extra_css %}
    <style>

        article {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.5rem;
            grid-template-areas:
                "header"
                "detail"
                "signup"
                "main"
                "side"
        }

        header { grid-area: header; }
        main { grid-area: main; }
        .details { grid-area: detail; }
        .sidebar { grid-area: side; }
        .signup { grid-area: signup; }


        @media (min-width: 768px) {
            article {
                grid-template-rows: auto 5rem auto auto 1fr;
                grid-template-columns: 0rem 13fr 8fr 0rem;
                grid-template-areas:
                    "header header header header"
                    "header header header header"
                    "...... detail  side  ......"
                    "......  main   side  ......"
                    "......  main  signup ......"
            }

            .sidebar {
                grid-area: 2 / side-start / side-end / side-end;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <article class="container">
        {% image page.hero_image original as hero_image %}
        <header style="height: 50vh; min-height: 24rem; max-height: 30rem;">
            <img src="{{ hero_image.url }}" style="width: 100%; height: 100%;
                    object-fit: cover; object-position:
                    {% if page.hero_image.has_focal_point %}
                        {% widthratio page.hero_image.focal_point_x page.hero_image.width 100 %}%
                        {% widthratio page.hero_image.focal_point_y page.hero_image.height 100 %}%
                    {% else %}
                        center center
                    {% endif %}
                    ">
        </header>

        <div class="details">
            <div class="bg-light d-flex flex-row justify-content-around text-center">
                <div class="p-2">
                    {% if page.date_to %}
                        <i class="bi bi-calendar-range py-2" style="font-size: 1.5em"></i>
                    {% else %}
                        <i class="bi bi-calendar-event py-2" style="font-size: 1.5em"></i>
                    {% endif %}
                    {% now "Y" as now_year %}
                    {% if now_year == page.date_from|date:"Y" %}
                        <p>{{ page.date_from|date:"l, F d" }}{% if page.date_to %} - {{ page.date_to|date:"l, F d" }}{% endif %}</p>
                    {% else %}
                        <p>{{ page.date_from|date:"l, F d, Y" }}{% if page.date_to %} - {{ page.date_to|date:"l, F d, Y" }}{% endif %}</p>
                    {% endif %}
                </div>
                {% if page.time_from %}
                    <div class="p-2">
                        <i class="bi bi-clock py-2" style="font-size: 1.5em"></i>
                        {% if page.time_to %}
                            <p>{{ page.time_from|time:'fA' }} - {{ page.time_to|time:'fA' }}</p>
                        {% else %}
                            <p>{{ page.time_from|time:'fA' }}</p>
                        {% endif %}
                    </div>
                {% endif %}
                {% if page.cost %}
                    <div class="p-2">
                        <i class="bi bi-cash py-2" style="font-size: 1.5em"></i>
                        <p>${{ page.cost }}</p>
                    </div>
                {% endif %}
                <div class="p-2">
                    <i class="bi bi-geo py-2" style="font-size: 1.5em"></i>
                    <p>{{ page.location }}</p>
                </div>
            </div>
            {% if page.is_canceled %}
                <div class="bg-warning d-flex flex-row justify-content-around text-center py-4">
                    <h1><div class="badge bg-danger text-light">Event Cancelled</div></h1>
                </div>
            {% endif %}
        </div>
        <main>
            <h1>{{ page.title }}</h1>

            {% if page.body %}
                {{ page.body|richtext }}
            {% endif %}

            {% if page.address %}
                <div class="ratio ratio-4x3 mt-5">
                    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWP6zKllNtvZebCCUybhq-e4yP2NIizq0&q={{ page.address|urlencode }}" allowfullscreen></iframe>
                </div>
            {% endif %}
        </main>

        <section class="sidebar bg-light text-secondary">
            <div class="px-5 py-4">
                <h3>{{ page.sidebar_type }}</h3>
                <ul class="bi-ul">
                    <li><span class="bi-li"><i class="text-primary bi bi-person"></i></span><a class="text-secondary" href="">{{ page.sidebar_name }}</a></li>
                    {% if page.sidebar_phone %}<li><span class="bi-li"><i class="text-primary bi bi-phone"></i></span><a class="text-secondary" href="">{{ page.sidebar_phone }}</a></li>{% endif %}
                    {% if page.sidebar_email %}<li><span class="bi-li"><i class="text-primary bi bi-at"></i></span><a class="text-secondary" href="mailto:{{ page.sidebar_email }}">{{ page.sidebar_email }}</a>{% endif %}
                </ul>
            </div>
            {% image page.sidebar_image fill-200x300-c100 class="img-fluid w-100 p-5" %}
        </section>


        {% if page.get_children and not page.is_canceled %}
            <section class="signup bg-light text-secondary">
                <div class="m-4">
                    {% for signup in page.get_children.live.specific %}
                        {% if signup.capacity %}
                            <div class="d-flex flex-row justify-content-between">
                                <div>Signed up</div>
                                {% if signup.space_left %}
                                    <a class="btn btn-primary btn-sm mx-5" href="{{ signup.url }}" role="button"><i class="bi bi-person-plus-fill"></i> {{ signup.title }}</a>
                                {% else %}
                                    <button type="button" class="btn btn-sm btn-primary" disabled>{{ signup.title }}</button>
                                {% endif %}
                                <div>Available</div>
                            </div>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-warning" role="progressbar"
                                     style="width: {% widthratio signup.attendee_count signup.capacity 100 %}%;"
                                     aria-valuenow="{{ signup.attendee_count }}" aria-valuemin="0"
                                     aria-valuemax="{{ signup.capacity }}">{{ signup.attendee_count }}</div>
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {% widthratio signup.space_left signup.capacity 100 %}%;"
                                     aria-valuenow="{{ signup.space_left }}" aria-valuemin="0"
                                     aria-valuemax="{{ signup.capacity }}">{{ signup.space_left }}</div>
                            </div>
                        {% else %}
                            <div class="text-center">
                                <a class="btn btn-primary btn-sm mx-5 mb-3" href="{{ signup.url }}" role="button">{{ signup.title }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

    </article>
{% endblock content %}
