{% load wagtailcore_tags %}

<h1 class="cta_title">{{ self.title }}</h1>
{{ self.text|richtext }}
{% if self.button_page %}
    <a class="btn btn-{{ self.color }} mb-2" href="{{ self.button_page.url }}" role="button">{{ self.button_text }}</a>
{% elif self.button_url %}
    <a class="btn btn-{{ self.color }} mb-2" href="{{ self.button_url }}" role="button">{{ self.button_text }}</a>
{% elif self.button_mailto %}
    <a class="btn btn-{{ self.color }} mb-2" href="mailto:{{ self.button_mailto }}" role="button">{{ self.button_text }}</a>
{% endif %}