{% load wagtailcore_tags wagtailimages_tags %}

<h1 class="text-center display-5">{{ self.title|upper }}</h1>

{% for ministry in self.ministries %}
    <div class="row">
        <div class="col-md-7 p-3 {% cycle 'order-md-first text-left' 'order-md-last text-right' %} my-auto">
            <h2 class="display-6">{{ ministry.title }}</h2>
            <div class="fs-3">
                {{ ministry.intro|richtext }}
            </div>
            <a class="btn btn-secondary" href="{{ ministry.url }}" role="button">More »</a>
        </div>
        <div class="col-md-5">
            {% image ministry.hero_image fill-400x400 class="img-fluid" %}
        </div>
    </div>
    {% if not forloop.last %}
        <hr class="ministry-divider">
    {% endif %} 
{% endfor %}