{% load static wagtailcore_tags wagtailimages_tags %}

{% image settings.home.FooterSettings.image width-1200 as footer_image %}

{% wagtail_site as current_site %}

<footer style="background-image: url({{ footer_image.url }});">
    <div class="container text-muted pt-5">
        <div class="row justify-content-center">
            <div class="col-sm-9 text-center">
                {% if settings.home.SocialMediaSettings.youtube %}
                    <a id="youtube" href="{{ settings.home.SocialMediaSettings.youtube }}" class="btn btn-outline-light btn-lg fs-1" role="button"><i class="bi bi-youtube"></i></a>
                {% endif %}
                {% if settings.home.SocialMediaSettings.facebook %}
                    <a id="facebook" href="{{ settings.home.SocialMediaSettings.facebook }}" class="btn btn-outline-light btn-lg fs-1" role="button"><i class="bi bi-facebook"></i></a>
                {% endif %}
                {% if settings.home.SocialMediaSettings.twitter %}
                    <a id="twitter" href="{{ settings.home.SocialMediaSettings.twitter }}" class="btn btn-outline-light btn-lg fs-1" role="button"><i class="bi bi-twitter"></i></a>
                {% endif %}
                {% if settings.home.FooterSettings.slogan %}
                    <p class="lead fst-italic">{{ settings.home.FooterSettings.slogan }}</p>
                {% endif %}
            </div>
        </div>

        <hr class="bg-muted">

        <div class="row flex justify-content-around">
            <div class="col-6 align-self-center p-2">
                <strong>Contact</strong><br>
                <address>
                    <ul class="bi-ul">
                        <li><span class="bi-li"><i class="bi bi-map"></i></span>
                            <a class="text-light" target="_blank" href="https://maps.google.com/?q={{ settings.home.FooterSettings.address }}">{{ settings.home.FooterSettings.address|linebreaksbr }}</a>
                        </li>
                        <li><span class="bi-li"><i class="bi bi-phone"></i></span><a class="text-light" href="tel:{{ settings.home.FooterSettings.phone }}">{{ settings.home.FooterSettings.phone }}</a>
                        <li><span class="bi-li"><i class="bi bi-at"></i></span><a class="text-light" href="mailto:{{ settings.home.FooterSettings.email }}">{{ settings.home.FooterSettings.email }}</a>
                    </ul>
                </address>
            </div>
            <div class="col-6 align-self-center p-2">
                <strong>Office Hours</strong><br>
                <ul class="bi-ul">
                    <li><span class="bi-li"><i class="bi bi-clock"></i></span>
                        {{ settings.home.FooterSettings.hours|linebreaksbr }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center bg-primary py-3">
            <div class="col text-center text-light">
                &copy;{% now "Y" %} {{ current_site.site_name }}, All Rights Reserved
            </div>
        </div>
    </div>
</footer>