{% load static wagtailcore_tags navigation_tags %}

<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <div class="container-fluid">
        {% wagtail_site as current_site %}
        <a class="navbar-brand" href="/">
            {{ current_site.site_name }}
        </a>

        {% now "YmdHis" as now_dt %}

        {% if now_dt > settings.home.LivestreamSettings.livestream_from|date:"YmdHis" and now_dt < settings.home.LivestreamSettings.livestream_to|date:"YmdHis" %}
            <a style="padding: .5rem 1rem; text-decoration: none;" class="d-flex navbar-text text-primary" href="{{ settings.home.LivestreamSettings.url }}">
                <i class="bi bi-broadcast"></i><strong>&nbspLivestream</strong>
            </a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% top_menu parent=current_site.root_page calling_page=self %}
            </ul>
        </div>
    </div>
</nav>
