{% load navigation_tags %}

<nav id="pagination" aria-label="video navigation">
    <ul class="pagination justify-content-center flex-wrap">
        {% url_params_no_page as params %}
        {% if subpages.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ subpages.previous_page_number }}{{ params }}">
                    <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                    <span class="visually-hidden">Previous</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                    <span class="visually-hidden">Previous</span>
                </a>
            </li>
        {% endif %}
        <li class="page-item {% if subpages.number == 1 %} active{% endif %}">
            <a class="page-link" href="?page={{ 1 }}{{ params }}">1</a>
        </li>
        {% for page_num in subpages.paginator.page_range %}
            {% if page_num <= subpages.number|add:"3" and page_num >= subpages.number|add:"-3" and page_num != subpages.paginator.num_pages and page_num != 1 %}
                <li class="page-item {% if page_num == subpages.number %} active{% endif %}">
                    <a class="page-link" href="?page={{ page_num }}{{ params }}">{{ page_num }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="page-item {% if subpages.number == subpages.paginator.num_pages %} active{% endif %}">
            <a class="page-link" href="?page={{ subpages.paginator.num_pages }}{{ params }}">{{ subpages.paginator.num_pages }}</a>
        </li>
        {% if subpages.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ subpages.next_page_number }}{{ params }}"">
                    <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>