/* Body, extra space at top for navbar */
body {
    padding-top: 56px;
}

/* Bootstrap icons as ul, li elements */
.bi-ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 2.5em;
}

.bi-ul > li {
    position: relative
}

.bi-li {
    left: -2em;
    width: 2em;
    position: absolute;
    text-align: center;
    line-height: inherit
}

/* Footer styles */
.hero {
    height: 62vw;
    max-height: 90vh;
    min-height: 50vh;
}

.hero h1 {
    text-shadow: 0px 0px 3px black;
}

.hero p {
    text-shadow: 0px 0px 3px black;
    font-size: 1.25rem;
    font-weight: 300;
}

/* Footer styles */
footer p.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

footer::before {
    content:"";
    width: 100%;
    height: 100%;
    background-color: #001224;
    opacity: .95;
    position: absolute;
    display: block;
    z-index: -10;
}

footer {
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    bottom: 0;
    background-attachment: fixed;
    z-index: 5;
}

footer .btn-outline-light {
    border-color: #fff0;
}

footer .container {
    padding-top: 1rem;
    z-index: 10;
}