{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}blogpage{% endblock %}

{% block content %}
    {% if page.body %}
        <div class="container">
            {% for block in page.body %}
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        {{ block }}
                    </div>
                </div>
            {% endfor %}
            {% if page.tags.all.count %}
                <div class="tags">
                    <h3>Tags</h3>
                    {% for tag in page.tags.all %}
                        <a class="btn btn-info" href="{% pageurl page.get_parent %}?tag={{ tag }}" role="button">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}
