{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}blogindexpage{% endblock %}

{% block content %}
    <div class="intro">{{ page.intro|richtext }}</div>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                {% if request.GET.tag|length %}
                    <h4>Showing pages tagged <button type="button" class="btn btn-info">{{ request.GET.tag }}</button></h4>
                {% endif %}
                {% for post in blogpages %}
                    {% with post=post.specific %}
                        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                        {{ post.date }}
                        {{ post.intro|richtext }}
                    {% endwith %}
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}