{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags embed_tags %}

{% block extra_css %}
    <style>
        #listing {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        }

        #index {
            grid-area: index;
        }

        header {
            grid-area: header;
        }

        #pagination {
            grid-area: pagination;
        }

        main {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            "header"
            "index"
            "pagination";
        }
    </style>
{% endblock extra_css %}

{% block body_class %}videoteachingindexpage{% endblock %}

{% block content %}
    <main class="container-xxl">
        <header>
            <h2 class="display-3">{{ page.title }}</h2>
            <h3 class="display-6">Series</h3>
            <hr>
        </header>
        <section id="index">
            <div id="listing">
                {% for series in videoseries %}
                    <div class="card h-100">
                        <article>
                            {% with series.get_children.specific|first as series_latest %}
                                <div class="ratio ratio-16x9">
                                    {% if series.specific.feed_image %}
                                        {% image series.specific.feed_image original as series_image %}
                                            <img class="card-img-top" src="{{ series_image.url }}" style="object-fit: cover;" alt="{{ series.title }}">
                                    {% else %}
                                        <img class="card-img-top" src="{% embed_thumbnail series_latest.video max_width=560 %}" style="object-fit: cover;" alt="{{ series.title }}">
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link-dark stretched-link" href="{{ series.url }}">{{ series.title }}</a>
                                    </h5>
                                    <p class="card-text">{{ series.intro|richtext }}</p>
                                </div>
                            {% endwith %}
                        </article>
                    </div>
                {% endfor %}
            </div>
        </section>
        {% if videoseries.has_other_pages %}
            {% include 'includes/pagination.html' with subpages=videoseries %}
        {% endif %}
    </main>
{% endblock %}