{% extends "base.html" %}
{% load wagtailcore_tags wagtailembeds_tags %}

{% block extra_css %}
    <style>
        #listing {
            grid-area: listing;
            display: grid;
            grid-gap: 12px;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        }

        #index {
            grid-area: index;
        }

        header {
            grid-area: header;
        }

        #feature {
            grid-area: feature;
        }

        main {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            "feature"
            "header"
            "index";
        }
    </style>
{% endblock extra_css %}

{% block body_class %}videoteachingseriespage{% endblock %}

{% block content %}
    <main class="container">
        <header>
            <h1 class="display-4">{{ page.title }}</h1>
            {{ page.intro|richtext }}
            <hr>
        </header>
        <section id="feature">
            <div class="row justify-content-center">
                {% with videoteachings|first as latest %}
                    <div class="col-md-10 col-lg-8 px-0">
                        <div class="ratio ratio-16x9">{% embed latest.video max_width=560 %}</div>
                    </div>
                    <div class="col-lg-4 mt-3">
                        <p><i class="bi bi-calendar"></i> {{ latest.date }}<br>
                            <i class="bi bi-person"></i> {{ latest.author }}</p>
                        <hr>
                        <h2><a class="link-dark" href="{{ latest.url }}">{{ latest.title }}</a></h2>
                        {{ latest.intro|richtext }}
                    </div>
                {% endwith %}
            </div>
        </section>
        <section id="index">
            {% if videoteachings|slice:"1:" %}
                <h2 class="display-6">Videos in this Series</h2>
                <section id="listing">
                    {% for videoteachings in videoteachings|slice:"1:" %}
                        <div class="col">
                            {% include "includes/video_card.html" with videoteaching=videoteachings %}
                        </div>
                    {% endfor %}
                </section>
            {% endif %}
        </section>
    </main>
{% endblock content %}