{% extends "base.html" %}
{% load wagtailcore_tags wagtailembeds_tags %}

{% block extra_css %}
    <style>
        #listing {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        }
    </style>
{% endblock extra_css %}

{% block body_class %}videoteachingpage{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 px-0">
                <div class="ratio ratio-16x9">{% embed page.video max_width=560 %}</div>
            </div>
            <div class="col-lg-4 mt-3">
                <p><i class="bi bi-calendar"></i> {{ page.date }}<br>
                <i class="bi bi-person"></i> {{ page.author }}</p>
                <hr>
                <h2>{{ page.title }}</h2>
                {{ page.intro|richtext }}
                {% if page.tags %}
                    <h4 class="text-center pt-4"><i class="bi bi-tags-fill text-secondary"></i></h4>
                    <div class="mt-4 mb-0">
                        {% for tag in page.tags.all %}
                            <a class="btn btn-secondary btn-sm rounded-pill text-light mb-1" href="{% pageurl page.get_parent %}?tag={{ tag.slug }}" role="button">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if seriesvideos %}
            <h2 class="display-6 mt-4">{{ page.get_parent.title }}</h2>
            <div id="listing">
                {% for video in seriesvideos %}
                    <div class="col">
                        {% include "includes/video_card.html" with videoteaching=video %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if relatedvideos %}
            <h2 class="display-6 mt-4">Related Videos</h2>
            <div id="listing">
                {% for relatedvideo in relatedvideos %}
                    <div class="col">
                        {% include "includes/video_card.html" with videoteaching=relatedvideo %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}