{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags wagtailembeds_tags embed_tags %}

{% block extra_css %}
    <style>
        #listing {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        }

        #index {
            grid-area: index;
        }

        header {
            grid-area: header;
        }

        #feature {
            grid-area: feature;
        }

        #about {
            grid-area: about;
        }

        #tags {
            grid-area: tags;
        }

        #pagination {
            grid-area: pagination;
        }

        main {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            "header"
            "feature"
            "about"
            "index"
            "pagination"
            "tags";
        }

        @media (min-width: 768px) {
            main {
                display: grid;
                grid-gap: 12px;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto 1fr;
                grid-template-areas:
                "feature"
                "header"
                "about"
                "index"
                "pagination"
                "tags";
            }
        }

        @media (min-width: 992px) {
            main {
                display: grid;
                grid-gap: 12px;
                grid-template-columns: 1fr 300px;
                grid-template-rows: auto auto auto 1fr auto;
                grid-template-areas:
                "feature feature"
                "header  header"
                "index about"
                "index tags"
                "pagination tags";
            }
        }

        button#tags:not(.collapsed) {
            display: none;
        }
    </style>
{% endblock extra_css %}

{% block body_class %}videoteachingindexpage{% endblock %}

{% block content %}
    <main class="container-xxl">
        {% if request.GET.tag %}
            <header>
                <h2 class="display-3">{{ page.title }}</h2>
                <hr>
            </header>
            <div id="about" class="p-4 mb-3 bg-light rounded fs-3 text-center">
                {% for tag in active_tags %}
                    <a class="btn btn-secondary rounded-pill text-light" href="{% pageurl page %}" role="button"><i class="bi bi-x"></i> {{ tag }}</a>
                {% endfor %}
            </div>
            <section id="index">
                <div id="listing">
                    {% for videoteaching in videoteachings %}
                        {% include "includes/video_card.html" with videoteaching=videoteaching %}
                    {% endfor %}
                </div>
            </section>
        {% else %}
            <header>
                <h2 class="display-3">{{ page.title }}</h2>
                <hr>
            </header>
            <div id="about" class="p-4 mb-3 bg-light rounded fs-3 text-center">
                {{ page.intro|richtext }}
            </div>
            <section id="feature">
                {% with page.featured_video as featured %}
                    <h2 class="visually-hidden">Featured Sermon</h2>
                    <div class="row">
                        <div class="col-md-5 col-lg-4 mt-3 order-last">
                            <div class="d-flex flex-column">
                                <div><h2><a class="link-dark" href="{{ featured.url }}">{{ featured.title }}</a></h2></div>
                                <div class="order-md-first">
                                    <p><i class="bi bi-calendar"></i> {{ featured.date }}<br><i class="bi bi-person"></i> {{ featured.author }}</p>
                                    <hr>
                                </div>
                                <div>{{ featured.intro|richtext }}</div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8 px-0">
                            <div class="ratio ratio-16x9">{% embed featured.video max_width=560 %}</div>
                        </div>
                    </div>
                {% endwith %}
            </section>
            <section id="index">
                {% if videoseries %}
                    <h2 class="display-6">Recent Series</h2>
                    <div id="listing">
                        {% for series in videoseries %}
                            <div class="card h-100">
                                <article>
                                    {% with series.get_children.specific|first as series_latest %}
                                        <div class="ratio ratio-16x9">
                                            {% if series.specific.feed_image %}
                                                {% image series.specific.feed_image original as series_image %}
                                                    <img class="card-img-top" src="{{ series_image.url }}" style="object-fit: cover;" alt="{{ series.title }}">
                                            {% else %}
                                                <img class="card-img-top" src="{% embed_thumbnail series_latest.video max_width=560 %}" style="object-fit: cover;" alt="{{ series.title }}">
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"> <a class="link-dark stretched-link" href="{{ series.url }}">{{ series.title }}</a></h5>
                                            <p class="card-text">{{ series.intro|richtext }}</p>
                                        </div>
                                    {% endwith %}
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-2">
                        <a class="btn btn-primary" href="{% routablepageurl page "series" %}" role="button">{{ page.primary_cta_text|default:"All Series" }}</a>
                    </div>
                {% endif %}
                <h2 class="display-6">All Sermons</h2>
                <div id="listing">
                    {% for videoteaching in videoteachings %}
                        {% include "includes/video_card.html" with videoteaching=videoteaching %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
        {% if tags %}
            <div id="tags">
                <h4 class="text-center pt-4"><i class="bi bi-tags-fill text-secondary"></i></h4>
                <div class="mt-4 mb-0">
                {% for tag in tags|slice:":50" %}
                        <a class="btn btn-secondary btn-sm rounded-pill text-light mb-1" href="?tag={{ tag.slug }}" role="button">{{ tag }}</a>
                    {% endfor %}
                </div>
                <p class="collapse mt-0" id="collapseTags" aria-expanded="false">
                    {% for tag in tags|slice:"50:" %}
                        <a class="btn btn-secondary btn-sm rounded-pill text-light mb-1" href="?tag={{ tag.slug }}" role="button">{{ tag }}</a>
                    {% endfor %}
                </p>
                {% if tags|length > 50 %}
                    <p class="text-center">
                        <button type="button" class="btn btn-secondary collapsed" id="tags" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTags" aria-expanded="false" aria-controls="collapseTags">
                            <i class="bi bi-arrows-expand"></i>
                        </button>
                    </p>
                {% endif %}
            </div>
        {% endif %}
        {% if videoteachings.has_other_pages %}
            {% include 'includes/pagination.html' with subpages=videoteachings %}
        {% endif %}
    </main>
{% endblock %}