{% load embed_tags %}

<div class="card h-100">
    <article>
        <div class="ratio ratio-16x9">
            <img class="card-img-top" src="{% embed_thumbnail videoteaching.video max_width=560 %}" style="object-fit: cover;">
        </div>
        <div class="card-body">
            <h5 class="card-title"><a class="link-dark stretched-link" href="{{ videoteaching.url }}">{{ videoteaching.title }}</a></h5>
            <p class="card-text"><i class="bi bi-calendar"></i> {{ videoteaching.date }}<br><i class="bi bi-person"></i> {{ videoteaching.author }}</p>
        </div>
    </article>
</div>