{% load wagtailcore_tags navigation_tags %}

{% for menuitem in menuitems %}
    {% if menuitem.show_dropdown %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle{% if menuitem.active %} active{% endif %}" id="navbarDropdownMenu{{ menuitem.slug|capfirst }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ menuitem.slug|capfirst }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenu{{ menuitem.slug|capfirst }}">
                <li><a class="dropdown-item" href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>
                <li><hr class="dropdown-divider"></li>
                {% top_menu_children parent=menuitem %}
            </ul>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link{% if menuitem.active %} active{% endif %}" href="{% pageurl menuitem %}">{{ menuitem.slug|capfirst }}</a>
        </li>
    {% endif %}

{% endfor %}